In [1]:
#Analyze weekly spend data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
%matplotlib inline

In [2]:
data = pd.read_excel('C:\\DataSets\\Sales_Spend.xlsx')
data

,Week,Eggs,Milk,Bread,Rice,Biscuits,Chocolate,Dal,Flour,Soap,...,Cereals,Chips,Drinks,Cooking Oil,Cheese,Jam,Ketchup,Dishsoap,Clothes Soap,Masalas
0,Wk1,138,60,74,100,35,42,49,80,12,...,29,47,34,34,6,5,23,31,17,35
1,Wk2,144,72,68,92,42,45,51,78,17,...,27,48,36,37,9,7,26,33,19,30
2,Wk3,126,70,73,85,38,40,55,72,23,...,25,52,38,38,12,8,24,35,18,32
3,Wk4,142,80,79,75,45,38,54,68,24,...,24,51,40,36,14,9,21,37,18,34
4,Wk5,145,78,78,88,49,35,60,65,26,...,22,53,42,34,16,12,23,36,19,36
5,Wk6,132,64,77,82,57,33,61,67,27,...,21,49,44,39,20,14,25,34,17,38
6,Wk7,144,68,75,77,54,29,56,70,30,...,23,52,46,40,22,16,20,32,18,33
7,Wk8,144,65,70,78,60,32,55,72,32,...,24,50,48,45,23,16,19,31,16,35
8,Wk9,150,62,74,83,55,33,53,72,30,...,22,53,49,42,25,19,20,33,18,33
9,Wk10,148,67,76,85,53,31,52,75,29,...,24,51,50,43,28,20,17,35,18,30

In [3]:
#calculate rolling mean
data_rm = data.rolling(3).mean()

In [4]:
data_rm

,Week,Eggs,Milk,Bread,Rice,Biscuits,Chocolate,Dal,Flour,Soap,...,Cereals,Chips,Drinks,Cooking Oil,Cheese,Jam,Ketchup,Dishsoap,Clothes Soap,Masalas
0,Wk1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Wk2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Wk3,136.000000,67.333333,71.666667,92.333333,38.333333,42.333333,51.666667,76.666667,17.333333,...,27.000000,49.000000,36.000000,36.333333,9.000000,6.666667,24.333333,33.000000,18.000000,32.333333
3,Wk4,137.333333,74.000000,73.333333,84.000000,41.666667,41.000000,53.333333,72.666667,21.333333,...,25.333333,50.333333,38.000000,37.000000,11.666667,8.000000,23.666667,35.000000,18.333333,32.000000
4,Wk5,137.666667,76.000000,76.666667,82.666667,44.000000,37.666667,56.333333,68.333333,24.333333,...,23.666667,52.000000,40.000000,36.000000,14.000000,9.666667,22.666667,36.000000,18.333333,34.000000
5,Wk6,139.666667,74.000000,78.000000,81.666667,50.333333,35.333333,58.333333,66.666667,25.666667,...,22.333333,51.000000,42.000000,36.333333,16.666667,11.666667,23.000000,35.666667,18.000000,36.000000
6,Wk7,140.333333,70.000000,76.666667,82.333333,53.333333,32.333333,59.000000,67.333333,27.666667,...,22.000000,51.333333,44.000000,37.666667,19.333333,14.000000,22.666667,34.000000,18.000000,35.666667
7,Wk8,140.000000,65.666667,74.000000,79.000000,57.000000,31.333333,57.333333,69.666667,29.666667,...,22.666667,50.333333,46.000000,41.333333,21.666667,15.333333,21.333333,32.333333,17.000000,35.333333
8,Wk9,146.000000,65.000000,73.000000,79.333333,56.333333,31.333333,54.666667,71.333333,30.666667,...,23.000000,51.666667,47.666667,42.333333,23.333333,17.000000,19.666667,32.000000,17.333333,33.666667
9,Wk10,147.333333,64.666667,73.333333,82.000000,56.000000,32.000000,53.333333,73.000000,30.333333,...,23.333333,51.333333,49.000000,43.333333,25.333333,18.333333,18.666667,33.000000,17.333333,32.666667

In [5]:
#select last 3 rows
data_rm1 = data_rm.iloc[6:9]

In [6]:
data_rm1

,Week,Eggs,Milk,Bread,Rice,Biscuits,Chocolate,Dal,Flour,Soap,...,Cereals,Chips,Drinks,Cooking Oil,Cheese,Jam,Ketchup,Dishsoap,Clothes Soap,Masalas
6,Wk7,140.333333,70.000000,76.666667,82.333333,53.333333,32.333333,59.000000,67.333333,27.666667,...,22.000000,51.333333,44.000000,37.666667,19.333333,14.000000,22.666667,34.000000,18.000000,35.666667
7,Wk8,140.000000,65.666667,74.000000,79.000000,57.000000,31.333333,57.333333,69.666667,29.666667,...,22.666667,50.333333,46.000000,41.333333,21.666667,15.333333,21.333333,32.333333,17.000000,35.333333
8,Wk9,146.000000,65.000000,73.000000,79.333333,56.333333,31.333333,54.666667,71.333333,30.666667,...,23.000000,51.666667,47.666667,42.333333,23.333333,17.000000,19.666667,32.000000,17.333333,33.666667

In [7]:
#take mean and convert to int..this will give us the next week's forecasted sales
data2 = data_rm1.mean().astype(int)

In [8]:
data2

Eggs            142
Milk             66
Bread            74
Rice             80
Biscuits         55
Chocolate        31
Dal              57
Flour            69
Soap             29
Toothbrush       30
Toothpaste       20
Cereals          22
Chips            51
Drinks           45
Cooking Oil      40
Cheese           21
Jam              15
Ketchup          21
Dishsoap         32
Clothes Soap     17
Masalas          34
dtype: int32

In [12]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('C:\\DataSets\\week11forecast.xlsx', engine='xlsxwriter')

In [13]:

data2.to_excel(writer, 'Sheet1')